body {
	font-family: "Inter Display";
}

.dropover {
	border: 2px solid red;
}

.colors {
	display: flex;
	flex-wrap: wrap;
	column-gap: 10px;
	row-gap: 10px;
}

.color {
	display: block;
	width: 58px;
	height: 58px;
	padding: 10px;
	font-size: 10px;
	border-radius: 10px;
	font-weight: 500;
}